.locations-section {
  min-height: 100vh;
  min-width: 100vw;
  @include flex(column, flex-start, center);
  padding: 25px;
}

.locations-header {
  min-height: 20vh;
  width: 100%;
  @include flex(column, space-evenly, center);
  .destination-categories {
    @include flex(row, space-evenly, center);
    .btn {
      padding: 10px 20px;
      background: $black;
      color: $white;
      border: 2px solid $black;
      transition: all 0.3s ease;
      margin: 0 10px;
      &:hover {
        background: $white;
        color: $black;
      }
    }
  }
}

.locations-content {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-template-rows: repeat(auto-fill, 320px);
  gap: 5rem;
  padding: 0 100px;
}

.location-item {
  background: $gradient, url("../img/img-1.jpg") center/cover no-repeat;
  color: $white;
  padding: 10px;
  border-radius: 12px;
  @include flex(column, space-between, flex-start);
  .rating {
    width: 50%;
    border-radius: 5px;
    background: white;
    color: $black;
    @include flex(row, center, center);
    span {
      color: #c4c4c4;
      padding: 0 10px;
    }
  }
}
