$h1: 2.8rem;
$h2: 2.4rem;
$h3: 2.2rem;
$h4: 2rem;
$h5: 1.8rem;
$h6: 1.6rem;

$white: #fafafa;
$black: #222326;
$gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0) 0%,
  rgba(30, 30, 30, 0.5) 99.99%,
  rgba(0, 0, 0, 0.32) 100%
);

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@import "global";
@import "menu";
